<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My user profile</h4>
                <h6 class="card-subtitle">Settings</h6>
                <form class="form p-t-20"
                      [formGroup]="profileForm"
                      autocomplete="off"
                      (ngSubmit)="save()">
                    <div class="form-group">
                        <label for="exampleInputuname">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" 
                                   class="form-control" 
                                   id="exampleInputuname" 
                                   formControlName="name"
                                   placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" 
                                   class="form-control" 
                                   id="exampleInputEmail1"
                                   formControlName="email" 
                                   placeholder="Enter email">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="pwd1">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd2" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1"> Remember me </label>
                        </div>
                    </div> -->
                    <button type="submit"
                            [disabled]="profileForm.invalid" 
                            class="btn btn-success btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Save changes
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">User image</h6>
                <img src="" alt="">
                <input type="file">
                <br>
                <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Change image
                </button>
            </div>
        </div>
    </div>
</div>